# 强制所有文本文件使用 LF 行尾
* text=auto eol=lf

# 二进制文件不转换
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
*.otf binary
*.webp binary
*.svg text
